@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,200&family=Open+Sans:wght@300;400;700&display=swap');
body{
    background-color: #101010;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding-right: 6%;
    padding-left: 6%;
}
.titulo{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.texto{
    font-size: 1rem;
    line-height: normal;
}