
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
body{
    background-color:#101010;
    color:whitesmoke;
    font-family: 'Source Code Pro', monospace;
}
.container{
    padding-right: 6%;
    padding-left: 6%;
}
.titulo{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.texto{
    font-size: 1rem;
    line-height: normal;
}