#contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 10px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.contato__icones{
    display: block;
    text-align: center;
    font-size:2rem;
}
h3{
    text-align: center;
}
.contato__img{
    display: none;
}
.contato__section{
    display: none;
}
@media screen and (min-width:768px){
    h3{
        padding-top: 3rem;
    }
    .contato__img{
        display: block;
        border-radius: 100%;
        width: 400px;
    }
    .contato__section{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .contato__texto{
        font-weight: bold;
        font-size: 35px;
    }
}