#contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 10px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.contato__icones{
    display: block;
    text-align: center;
    font-size:2rem;
}
h3{
    text-align: center;
}