#sobre{
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: left;
}
.sobre__img{
    display: none;
}

@media screen and (min-width:768px){
    #sobre{
        display: flex;
    }
    .sobre__img{
        display: block;
        width: 400px;
        border-radius: 100%;
    }
    h1{
    grid-column: 2 ; 
    }
}
